<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <button class="btn btn-primary" ng-click="createUser()"><i class="fa fa-fw fa-plus"></i> 新增</button>
                <form class="form-inline pull-right" role="form">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="请输入关键字" ng-model="grid.queryInfo.keyword">
                          <span class="input-group-btn">
                            <button class="btn btn-primary" ng-click="grid.query()"><i class="fa fa-fw fa-search"></i></button>
                          </span>
                    </div>
                </form>
            </div>
            <table uic-table="grid" class="table table-hover table-striped">
                <thead>
                <tr>
                    <th style="width: 60px;">#</th>
                    <th>姓名</th>
                    <th>账号</th>
                    <th>角色</th>
                    <th style="width: 180px;">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in grid.items">
                    <td record-no></td>
                    <td>{{x.name}}</td>
                    <td>{{x.account.name}}</td>
                    <td>{{x.userRoleList[0].role.name}}</td>
                    <td class="">
                        <button class="btn btn-xs btn-primary" ng-click="updateUser(x)">编辑</button>
                        <button class="btn btn-xs btn-warning" ng-click="setAccount(x)">设置账号</button>
                        <button class="btn btn-xs btn-danger" ng-click="deleteUser(x)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div uib-pagination ng-model="grid.currentPage" total-items="grid.total" items-per-page="grid.pageSize"></div>
    </div>
</div>
