<div class="header-menu">
    <div class="diamond">
        <a ui-sref="home"><i class="fa fa-home"></i></a>
    </div>
    <div class="now" ng-bind="dateString"></div>
    <ul class="menu">
        <li ng-repeat="menu in menuTree" ng-class="{active: $state.includes(menu.url)}">
            <a ui-sref="{{menu.url}}">
                <i class="{{menu.icon}}"></i>
                <span ng-bind="menu.name"></span>
            </a>
            <ul class="sub-menu" ng-style="{'min-height': PageContext.menuHeight}">
                <li ng-repeat="subMenu in menu.childList" ng-class="{active: $state.includes(subMenu.url)}">
                    <a ui-sref="{{subMenu.url}}">
                        <i class="{{subMenu.icon}}"></i>
                        <span ng-bind="subMenu.name"></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="header-bar">
    <div class="header-bar-logo">
        <span></span>
    </div>
    <div class="header-bar-main">
        <marquee scrollamount="4" scrolldelay="10" onMouseOut="this.start()" onMouseOver="this.stop()">
            <ul>
                <li ng-class="{'text-warning': x.degree==2, 'text-danger': x.degree==1}"
                    ng-click="viewWorkOrder(x.workOrderId)"
                    ng-repeat="x in workOrderWarnList"><a>{{x.message}}</a></li>
            </ul>
        </marquee>
    </div>

    <div class="header-bar-tool">
        <ul>
            <li>
                <a class="circle"><i class="fa  fa-user"></i></a>
            </li>
            <li style="position: relative">
                <div class="username">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">{{PageContext.currentUser.name}}<i
                            class="fa fa-lg fa-fw fa-caret-down"></i></a>

                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
                        <li>
                            <a href="javascript:;" ng-click="modifyPassword()"><i class="fa fa-lg fa-key"></i>&nbsp;修改密码
                            </a>
                        </li>
                        <!--<li>
                            <a><i class="fa fa-lg fa-font"></i>&nbsp;更换主题</a>
                        </li>-->
                    </ul>
                </div>
            </li>
            <!--<li>-->
                <!--<a style="margin: 0 2px 0 16px;" ng-click="toggleHeader()" class="circel blue"><i class="fa fa-question"></i></a>-->
            <!--</li>-->
            <li>
                <a title="退出系统" href="javascript:;" ng-click="exitSystem()" class="circle red"><i class="fa fa-power-off"></i></a>
            </li>
        </ul>
    </div>
</div>

