@import '../../variables';

.validation {
  display: inline-block;
  margin: 0 0 0 4px;
}

.validation.validation-valid {
  color: #60c060;
  font-size: 80%
}

.validation.validation-invalid {
  color: #C00000;
  font-size: 80%
}

.has-error {
  select {
    color: #C00000;
  }
  input {
    color: #C00000;
  }
}