<div class="dropdown uic-group-select">
    <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="input-group" style="width: 100%" ng-show="editable">
            <input type="text" class="form-control" ng-model="input" ng-focus="onFocus($event)" ng-blur="onBlur($event)" ng-keydown="onKeyDown($event)">
        </div>
        <div class="input-group" style="width: 100%" ng-show="!editable">
            <input type="text" class="form-control" ng-model="input" readonly>
            <span class="input-group-addon"><i class="fa fa-list"></i></span>
        </div>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" ng-style="{width: dropdownWidth}"
        stop-propagation>
        <li ng-repeat="group in groups">
            <h4 ng-show="group.childList.length>0" ng-bind="group.name"></h4>
            <ul class="nav nav-pills">
                <li ng-repeat="item in group.childList"
                    ng-click="select(item, group)"
                    ng-class="{active:item.objectId==ngModel.objectId, candidate: item.objectId==candidate.objectId}">
                    <a>{{item.name}}</a>
                </li>
            </ul>
        </li>
    </ul>
    <a ng-show="showClear && ngModel.objectId" href="javascript:;" ng-click="deselect()" class="cancel-select">×</a>
</div>