<div class="row" style="min-width: 1000px;">
    <div class="col-xs-4 col-lg-3" style="padding-right: 0">
        <div class="panel panel-primary" panel-fit-height>
            <div class="panel-heading">
                <h3 class="panel-title">
                    系统菜单
                </h3>
                <button class="btn btn-primary pull-right" ng-click="createMenu()" ng-disabled="!menu.objectId">
                    <i class="fa fa-fw fa-plus"></i> 新增
                </button>
            </div>
            <div class="panel-body" style="padding: 5px;">
                <div uic-tree="tree" selected-node="menu"></div>
                <div cg-busy="tree.promise"></div>
            </div>
        </div>
    </div>

    <div class="col-xs-8 col-lg-9" ng-show="menu!=null">
        <div class="panel panel-primary" panel-fit-height>
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{getMenuTitle()}}
                </h3>

                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-danger" ng-click="deleteMenu(menu)">删除菜单</button>
                </div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" name="menuForm">
                    <div class="modal-body">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">名称</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" ng-model="menu.name" validator="required" focus-on="name">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Url</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="url" ng-model="menu.url">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">图标</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="icon" ng-model="menu.icon">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">排序号</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="orderNo" ng-model="menu.orderNo" validator="required,number">
                                </div>
                            </div>

                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-bw" validation-submit="menuForm" ng-click="saveMenu()">保存</button>
                    </div>
                    <div cg-busy="promise"></div>
                </form>
            </div>
        </div>
    </div>

</div>
