<div ui-tree-handle ng-class="{active: selectedNode.$$hashKey==node.$$hashKey, hide: node.hide, disabled: checkDisabled(node)}" >
    <a class="tree-handle-square" ng-show="node.childList&&node.childList.length>0" data-nodrag ng-click="toggle(this)">
        <span class="fa" ng-class="{'fa-plus-square-o': collapsed, 'fa-minus-square-o': !collapsed}"></span>
    </a>

    <div class="tree-handle-content" ng-click="selectNode(node)"
         ng-include="treeHandleTemplate"></div>
</div>
<ol ui-tree-nodes="options" ng-model="node.childList" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.childList" ui-tree-node ng-include="'app/components/statictree/static-tree-repeat-tpl.html'">
    </li>
</ol>