<div class="dropdown uic-select">
    <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="selectedItem.name" readonly>
            <span class="input-group-addon"><i class="fa fa-chevron-down"></i></span>
        </div>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="min-height: 0"
        stop-propagation>
        <li ng-repeat="x in items" ng-class="{active: checkActive(x)}">
            <a href="javascript:;" ng-click="select(x)">{{x.name}}</a>
        </li>
    </ul>
    <a ng-show="checkShowClear(x)" href="javascript:;" ng-click="deselect()" class="cancel-select">×</a>
</div>