<form class="form-horizontal" role="form" name="form">
    <uib-tabset>
        <uib-tab heading="基本">
            <div class="form-group">
                <label class="col-sm-2 control-label">文本</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" ng-model="example.name" validator="required">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">数字</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" name="number" ng-model="example.number" validator="required,number">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">日期</label>

                <div class="col-sm-10">
                    <input uic-date-select ng-model="example.date" show-clear="true" ng-validator="required">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">时间</label>

                <div class="col-sm-10">
                    <input uic-date-select format="YYYY-MM-DD HH:mm" ng-model="example.datetime" ng-validator="required">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">多选框</label>

                <div class="col-sm-10">
                    <input uic-checkbox options="options" ng-model="example.checkbox1" class="checkbox-primary" inline="false">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">单选按钮</label>

                <div class="col-sm-10">
                    <input uic-radio options="options" ng-model="example.radio1" class="radio-primary">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">多选框【字典表】</label>

                <div class="col-sm-10">
                    <input uic-checkbox="Code" tag="TimeUnit" ng-model="example.checkbox2" class="checkbox-primary" inline="false">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">单选按钮【字典表】</label>

                <div class="col-sm-10">
                    <input uic-radio="Code" tag="TimeUnit" ng-model="example.radio2" class="radio-primary">
                </div>
            </div>
        </uib-tab>

        <uib-tab heading="下拉选择">
            <div class="form-group">
                <label class="col-sm-2 control-label">静态数据</label>

                <div class="col-sm-10">
                    <input uic-select options="options" ng-model="example.option" show-clear="true" ng-validator="required">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">动态数据</label>

                <div class="col-sm-10">
                    <input uic-select="Role" ng-model="example.role" ng-validator="required">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">字典表</label>

                <div class="col-sm-10">
                    <input uic-select="Code" tag="TimeUnit" ng-model="example.timeUnit" ng-validator="required">
                </div>
            </div>
        </uib-tab>

        <uib-tab heading="分组选择">
            <div class="form-group">
                <label class="col-sm-2 control-label">二层【递归表】</label>

                <div class="col-sm-10">
                    <input uic-group-select="Menu" ng-model="example.menu" show-clear="true" ng-validator="required">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">二层【字典表】</label>

                <div class="col-sm-10">
                    <input uic-group-select="Code" tag="General" ng-model="example.general" ng-validator="required">
                </div>
            </div>
        </uib-tab>

        <uib-tab heading="树形选择">

            <div class="form-group">
                <label class="col-sm-2 control-label">单选</label>

                <div class="col-sm-10">
                    <input uic-tree-select="Menu" ng-model="example.tree1" show-clear="true" ng-validator="required">
                </div>
            </div>

            <!--todo-->
            <!--<div class="form-group">
                <label class="col-sm-2 control-label">多选</label>

                <div class="col-sm-10">
                </div>
            </div>-->

            <div class="form-group">
                <label class="col-sm-2 control-label">禁止选择分支</label>

                <div class="col-sm-10">
                    <input uic-tree-select="Menu" ng-model="example.tree2" branch-select="false" ng-validator="required">
                </div>
            </div>
        </uib-tab>

        <uib-tab heading="文件上传">


            <div class="form-group">
                <label class="col-sm-2 control-label"></label>

                <div class="col-sm-10">
                    <section class="uploader" ng-show="progress==0">
                        <label for="upload-file-1" class="btn btn-default"><i class="fa fa-folder-open-o fa-fw"></i>&nbsp;选择安装包</label>
                        <input type="file" nv-file-select uploader="uploader" id="upload-file-1" style="display: none"/>
                    </section>
                    <section style="text-align: center; margin-top: 5px;" ng-show="progress>0">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped  progress-bar-info active" role="progressbar"
                                 aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width: progress + '%'}">
                                {{getProgressText()}}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </uib-tab>

    </uib-tabset>

    {{example}}

    <div class="modal-footer">
        <button class="btn btn-primary" validation-submit="form" ng-click="submit()">提交</button>
    </div>
    <div cg-busy="promise"></div>

</form>

<style>

    .tab-content {
        padding-top: 25px;;
    }
</style>